#sidebar{
    top:0;
    left:0;
    height:100%;
    position:fixed!important;
    z-index:2;
    overflow:auto;
    width:5%;
    background-color: #202427;
}
#sidebar-button{
    width: 100%;
    position: center;
    color: #6b6b6b;
    background-color: #202427;
    border-radius: 0;
    font-size: x-large;
    border: none;
}
#sidebar-button:hover{
    background-color: #6b6b6b;
    color: #202427;
}


#topbar{
    top:0;
    height:5%;
    position:fixed!important;
    z-index:1;
    width:100%;
    background-color: #202427;
}


.entry{
    background-color: #202427;
    color: white;
    width: 97%;
    margin-top: 5px;
    margin-left: 1.5%;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;

}

#entries{
    background-color: #6b6b6b;
    overflow: auto;
    height: 95%;
    width: 95%;
    margin-left: 5%;
    margin-top: 5%;
    position: center;
}



.pokemon_image{
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    display:inline-block;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    overflow:hidden;
}
.pokemon_title{
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    overflow:hidden;
}

.pokemon_dexno{
    float: right;
    color: #757575;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

